<section>
  <article role="article">  <!--不是他的原因-->
  <p><img class="alignleft" src="/images/xinran.jpg" style="Float:left;MARGIN-BOTTOM: 10px;MARGIN-RIGHT: 40px" weight="100" height="140" border="0" /> <!--不是他的原因-->
 <!--而是yellow的原因-->
 </br> 
    <h4> 叶昭良(Zhaoliang Ye) & 肖欣然(Xinran Xiao)</h4>
    <h5> Our Life </h5>
<hr style="color:#990000;border:1px dotted">
    QQ: <a href="977962857@qq.com">977962857@qq.com</a>
        <a href="36559660@qq.com">36559660@qq.com</a>

    </br>
    Weibo: <a href="zhaoturkkey@sina.com">zhaoturkkey@sina.com</a>

    <h5>Our Work</h5>

<hr style="color:#990000;border:1px dotted">
  </p>
  <p>fortran程序员,Java程序员,HR</p>
  <h5>Our hobby</h5>

<hr style="color:#990000;border:1px dotted">
  <p>爱她，爱电子产品，爱Google, 爱折腾</p> 
  <p>喜欢的电影有:《音乐之声》《卡特教练》《精武们》《肖申克的救赎》《速度与激情》《谍中谍》《黑客帝国》《疑犯追踪》。。。
  <p>喜欢开源的东西(Incompact3D CommonsIO..), 喜欢读书和思考, 喜欢做一些geek的事情/东西</p>
  <p>Play basketball,badminton</p>
<p>Scheme:</br>
  <a href="http://www.ccs.neu.edu/home/matthias/BTLS/">《the little scheme》(TLS)</a></br>
    <a href=" http://www.ccs.neu.edu/home/matthias/BTSS/">《The Season Scheme》(TSS)</a> </br>
    <a href="http://www.realmofracket.com/ ">《 Realm of Racket》</a> </br>
  <a href="http://scheme.com/tspl4/">《The Scheme Programming Language》(TSPL) </a> </br> 
  <a href=" http://mitpress.mit.edu/sicp/full-text/book/book-Z-H-4.html#%_toc_start">《Structure and Interpretation of Computer Programs》(SICP)</a></br>
  <a href="http://community.schemewiki.org/?SICP-Solutions ">SICP Solution</a></br>
  <a href="http://www.eopl3.com/ ">《Essentials of Programming Language》(EOPL)</a></br>
  <a href="http://academic.udayton.edu/SaverioPerugini/courses/cps343/lecture_notes/ ">EOPL Course</a></br>

  <a href="http://www.ccs.neu.edu/home/matthias/HtDP2e/">How to Design programs(程序设计方法 SICP的简化版)</a></br>
  <a href="http://www.cs.berkeley.edu/~bh/ss-toc2.html"> Simply Scheme(中学级别)</a></br>
  <a href="http://songjinghe.github.io/TYS-zh-translation/"> Scheme语言简明教程(汉)</a></br>
  <a href="http://ds26gte.github.io/tyscheme/index.html"> Teach yourself Scheme in fixed days</a></br>


</p>
<p> Lisp: </br>
  <a href=" http://www.landoflisp.com/">《Land of Lisp》</a></br>
  <a href="http://www.lisperati.com/casting.html">[Casting_spels] </a></br>
  <a href=" http://www.gigamonkeys.com/book/"> 《Practical CommonLisp》</a></br>
  <a href="http://www.paulgraham.com/acl.html">《ANSI_Common_lisp》 </a> </br>
  <a href="http://www.norvig.com/paip.html"> 《Paradigms of Artificial Intelligence Programming(PAIP)》</a></br>

</p>
<p> Clojure: </br>
  <a href="http://buhoz.net/public/books/lenguajes/clojure/Practical.Clojure.pdf">《Prcatical_clojure》</a></br>
  <a href=" http://www.joyofclojure.com/">《The joy of Clojure》</a>
  <a href="http://www.clojurebook.com/">《programming Clojure》 </a> </br>
  <a href="http://blog.csdn.net/zh2qiang/article/category/928066"> Programming clojure学习笔记 </a></br>
  <a href="http://xumingming.sinaapp.com/302/">Clojure入门教程: Clojure – Functional Programming for the JVM </a> </br>
  <a href="http://www.oschina.net/translate/the-clojure-philosophy?cmp">Clojure 哲学</a></br> 

</p></br>
<p> Haskell:</br>
  <a href="http://fleurer-lee.com/lyah/introduction.htm#%E5%85%B3%E4%BA%8E%E8%BF%99%E4%B8%AA%E6%95%99%E7%A8%8B ">Haskell趣味指南</a></br>
  <a href="https://www.haskell.org/">Hashell:An advanced purely-functional programming language </a></br>
  <a href="http://www.cs.nott.ac.uk/~gmh/book.html "> Programming in Haskell</a></br>
  <a href=" http://www.scs.stanford.edu/11au-cs240h/">Hashell Mit Course</a></br>

<p> Fortran:</br>
  <a href="http://www.personal.psu.edu/jhm/f90/lectures/quickref.html"> fortran90</a></br>
  <a href="http://people.sc.fsu.edu/~jburkardt/">John Burkardt</a> </br>
  <a href="http://pan.baidu.com/s/1gdCN1T5">工程数值方法</a></br>
  <a href=" https://github.com/jueqingsizhe66/gtk-fortran">fortran-gtk</a></br>
  <a href="http://203.195.149.196/ldt9v/ebook/Modern_Fortran_Explained.pdf "> 《Modern Fortran Explained》(高级)</a></br>
  <a href="http://203.195.149.196/ldt9v/ebook/Fortran95_2003_Science_Project_SongYeZhi.zip ">《Fortran95~2003数值计算》(宋叶志)</a></br>
 
   
</p>
<p> Bash:</br>
  <a href="http://vbird.dic.ksu.edu.tw/linux_basic/0320bash.php ">鸟哥的私房菜</a></br>
  <a href=" http://www.thegeekstuff.com/bash-101-hacks-ebook/">Bash 101 Hacks</a></br>

  <p>English: </br>
    <a href="http://book.douban.com/subject/1014914/"> 《英语魔法俱乐部》</a>一本相当不错的英语语法书。
    <a href="http://vdisk.weibo.com/search/?type=public&keyword=%E9%A3%8E%E6%A0%BC%E7%9A%84%E8%A6%81%E7%B4%A0">风格的要素(Element of Style)</a> 英语写作的圣经</br>
    <a href="http://www.geraldmweinberg.com/Site/On_Writing.html">WeinBerg On Writing:The fieldstone method </a> 收集WeinBerg Stones</br>
 
  </p>
  <p>Climing and Take a tourist</p>
    <h5>Contact Us</h5>
<hr style="color:#990000;border:1px dotted">
    Email:<a href="zhaoturkkey@163.com">zhaoturkkey@163.com</a></br>
         <a href="36559660@qq.com">36559660@qq.com</a>

  </article>
  <p><img src="/images/wood.jpg"  alt="zhaoturkkey@gmail.com" /></p></section>
</section>

