<section>
  <h1>盟友</h1>
  <ul>
    <li><a href="http://www.cfd-online.com/">CFD1</a></li>
    <li><a href="https://nwtc.nrel.gov/">NREL-NWTC </a></li>
    <li>
      <a href="http://mindhacks.cn/">刘未鹏MIND HACKS</a>
    </li>
    <li>
      <a href="http://www.cnblogs.com/Solstice/">陈硕</a>
    </li>
    <li>
      <a href="http://tianchunbinghe.blog.163.com/">冰河-网易</a></br>
      <a href="http://weibo.com/tianchunbinghe?from=myfollow_all&is_all=1#_rnd1455615502647">冰河-新浪</a>
    </li>
    <li>
      <a href="http://yinwang.org/">王垠</a></br>
      <a href="http://www.jianshu.com/users/b1dd2b2c87a8/latest_articles">王垠-简书</a>
    </li>
    <li>
      <a href="http://www.huzheng.org/ ">胡正</a>
      </li>
    <li>
      <a href="http://xahlee.org/ ">李杀</a>
      </li>
    <li>
      <a href="http://www.is.pku.edu.cn/~qzy/ "> 裘宗燕</a>
      </li>
    <li>
      <a href=" http://blog.csdn.net/v_july_v"> July</a>
      </li>
    <li>
      <a href="http://deathking.github.io/ "> deathKing: Learning-in-SICP</a>
      </li>



    <li>
      <a href=" https://en.wikipedia.org/wiki/Scheme_%28programming_language%29"> scheme wikipedia(history of scheme)</a>
    </li>
    <li>
      <a href="https://inst.eecs.berkeley.edu/~cs61a/fa14/proj/scheme/ ">CS61a:a scheme interpreter </a>
      <a href="https://github.com/dhrushilbadani/Scheme "> interpreter with python implementation </a>
    </li>
    <li>
      <a href="https://cgi.soic.indiana.edu/~c311/doku.php "> C311/B521/B621 </a>
    </li>
    <li>
      <a href="http://minikanren.org/ "> MiniKanren</a>
    </li>
    <li>
      <a href=" http://lambda-the-ultimate.org/"> Lambda the ultimate</a>
    </li>
    <li>
      <a href="http://people.csail.mit.edu/jaffer/SLIB "> The SLIB Portable Scheme library</a>
    </li>

    <li>
      <a href="http://v.qq.com/cover/p/pd51cjco90d1rc1.html?vid=o0015dvd155 "> 北平无战事43:承受</a>
    </li>


  </ul>
</section>
